.progress__title {
  font-weight: 700px;
  font-size: 32px;
  line-height: 38px;
  color: var(--main-text);
}


.progress__container {
  width: 536px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.progress__bar {
  display: flex;
  width: 60px;
  height: 1px;
  border: 1px solid var(--done-progress-border);
  background-color: var(--done-progress-border);
}

.progress__bar__undone {
  composes: progress__bar;
  border: 1px solid var(--undone-progress-border);
  background-color: var(--undone-progress-border);
}

.progress__group {
  display: flex;
  align-items: center;
}

.progress__icon,
.progress__icon__undone {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.progress__icon {
  background-color: transparent;
  border: 1px solid black;
}



.progress__icon__undone {
  background-color: transparent;
  border: 1px solid var(--progress-undone-color);
}


.progress__text {
  width: inherit;
  height: inherit;
  position: absolute;
  font-weight: 700; 
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}

.progress__icon .progress__text {
  color: black;
}

.progress__icon__undone .progress__text {
  color: var(--progress-undone-color);
}


.progress__label,
.progress__label__undone {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.progress__label {
  color: var(--main-text);
}

.progress__label__undone {
  color: var(--progress-undone-color);
}